.footer{
  padding-top: 100px;

  &__contacts{
    padding-left: 30px;
    padding-right: 0;
    color: black;
    @include helvetica(light);

    &-item{
      position: relative;
      padding-top: 30px;
    }

    &-text{
      position: absolute;
      left: 45px;

      &_roman{
        @include helvetica(medium)
      }
    }
  }

  &__logo{
    max-width: 260px;
  }

  &-box{
    a{
      color: #a3a3a3;
      letter-spacing: 1px;
    }
  }

  &-menu{
    padding-left: 0;

    &__title1, &__title2{
      text-transform: uppercase;
      @include helvetica(medium);
      font-size: 13px;
    }

    &__title1{
      padding-top: 20px;
      padding-bottom: 45px;
    }

    &__title2{
      padding-bottom: 21px;
    }

    &__list{

      &-item{
        padding-bottom: 9px;
      }

      &-link{
        @include helvetica(light);
        font-size: 13px;
      }
    }
  }

  &__bottom{
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 30px;

    &-link{
      font-size: 11px;
      @include helvetica(light);
    }
  }
}

.container_footer{
  padding-right: 0;
}


