.map{
  padding-top: 110px;

  &__address{
    padding-top: 90px;
    padding-bottom: 40px;

    &-text{
      color: black;
      @include helvetica(medium);
      margin-left: 10px;
    }
  }
}

#map{
  width: 100%;
  height: 450px;
}

iframe{
  width: 100%;
  height: 500px;
}