.map{
  padding-top: 110px;
  .address__text{
    color: black;
    @include helvetica(medium)
  }
}

.map__address {
  padding-top: 90px;
  padding-bottom: 40px;
}

#map{
  width: 100%;
  height: 450px;
}

iframe{
  width: 100%;
  height: 500px;
}