
.useful{
  background-color: #fbf9f9;
  padding-top: 80px;
  padding-bottom: 60px;
  a{
    text-decoration: none;
    color: black;
  }
  .col-3{
  }
}

.useful__item{
  padding: 65px 60px;
  img{
    max-width: 100%;
  }
}

.useful__card{
  display: block;
  &:hover{
    box-shadow: 0 5px 7px #9a9b9a;
    .article__title{
      &::after{
        width: 200px;
      }
    }
    .article__arrow{
      color: $yellow;
    }
  }
}

.useful__article{
  background: white;
  padding: 45px 30px 30px;
}

.article__title{
  font-size: 18pt;
  @include helvetica(medium);
  text-align: left;
  &::after{
    margin: 15px 0 20px;
  }
}

.article__text{
  margin-bottom: 10px;
}

.article__date__col{
padding: 0;
}

.article__date{
  text-align: left;
}

.article__arrow{
  text-align: right;
}

.all__articles__col{
  padding-right: 60px;
}

.all__articles{
  &:hover{
    .all_articles__text{
      color: $yellow;
    }
    .all__articles__arrow{
      background-position: right top;
    }
  }
}

.all_articles__text{
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  line-height: 0;
}

.all__articles__arrow{

  display: block;
  width: 20px;
  height: 15px;
  margin-left: 5px;
  background-image: url("../files/images/icons/arrow_sprite.png");
  background-repeat: no-repeat;
  background-position: left top;
 /* &:hover{
    background-position: right top;
  }*/
}
