@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("../src/helvetica/HelveticaLight/HelveticaLight.eot");
  src: url("../src/helvetica/HelveticaLight/HelveticaLight.eot?#iefix") format('embedded-opentype'),
  url("../src/helvetica/HelveticaLight/HelveticaLight.woff") format('woff'),
  url("../src/helvetica/HelveticaLight/HelveticaLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticamedium';
  src: url("../src/helvetica/HelveticaMedium/HelveticaMedium.eot");
  src: url("../src/helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix") format('embedded-opentype'),
  url("../src/helvetica/HelveticaMedium/HelveticaMedium.woff") format('woff'),
  url("../src/helvetica/HelveticaMedium/HelveticaMedium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'helveticaregular';
  src: url("../src/helvetica/HelveticaRegular/HelveticaRegular.eot");
  src: url("../src/helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix") format('embedded-opentype'),
  url("../src/helvetica/HelveticaRegular/HelveticaRegular.woff") format('woff'),
  url("../src/helvetica/HelveticaRegular/HelveticaRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold';
  src: url("../src/helvetica/HelveticaBold/HelveticaBold.eot");
  src: url("../src/helvetica/HelveticaBold/HelveticaBold.eot?#iefix") format('embedded-opentype'),
  url("../src/helvetica/HelveticaBold/HelveticaBold.woff") format('woff'),
  url("../src/helvetica/HelveticaBold/HelveticaBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticablack';
  src: url("../src/helvetica/HelveticaBlack/HelveticaBlack.eot");
  src: url("../src/helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix") format('embedded-opentype'),
  url("../src/helvetica/HelveticaBlack/HelveticaBlack.woff") format('woff'),
  url("../src/helvetica/HelveticaBlack/HelveticaBlack.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('../src/helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.eot');
  src: url('../src/helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../src/helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../src/helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin helvetica($style : light) {
  @if $style == roman{
    font-family: 'Helvetica Neue Cyr Roman';
  }

  @if $style == regular{
    font-family: 'helveticaregular';
  }

  @if $style == medium{
    font-family: 'helveticamedium';
  }

  @if $style == light{
    font-family: 'helveticaneuecyrlight';
  }

  @if $style == bold{
  font-family: 'helveticabold';
  }

  @if $style == black{
    font-family: 'helveticablack';
  }
}

